body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

#bloc_page{
    max-width: 1200px; 
    width: 100%;
}

    /* HEADER */

header{
    display: flex;
    justify-content: space-between;
}

#Logo img{
    display:flex;
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

    /* BANNIERE */

.banniere {
    height: 450px;
    background: url("images/background_image.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BanniereLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BanniereLogo img{
    width: 58%;
}

.BanniereLogo h1{
    color: white;
    font-weight: 400;
}

    /* MAIN */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    margin-top: 48px;
    font-size: 1.4em;
    line-height: 1.2em;
    color: #575757;
    text-align: center;
    max-width: 800px;
}

.miniature{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
	max-width: 800px;
    width: 100%; 
}

.miniature1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px; 
}

.miniature h2{
    font-weight: 400;
    font-size: 1.4em;
}

.miniature p{
    font-size: 0.8em;
    text-align: center;
    line-height: 1.2em;
}

.temoignage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    max-width: 600px;
}

.citation{
    width: 100%;
    font-size: 1.3em;
    color: #575757;
    margin-bottom: 0;
}

.temoin{
    font-size: 17px;
    color: #575757;
    font-weight: 300;
}

    /* FOOTER */

footer{
    background-color: #5b359d;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.copyright{
    color: white;
    font-weight: bold;
    font-size: 0.7em;
}

.icone{
    display: flex;
    justify-content: center;
    color:white;
    opacity: 0.6;
    font-size: 30px;
}

.fab{
    margin: 0 40px 0 40px;
}

.FooterNav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}

.FooterNav h3{
    color: white;
    opacity: 0.7;
    font-weight: lighter;
    font-size: medium;
}

.FooterNav ul{
    color: white;
}

.FooterNav a{
    text-decoration: none;
    color : white;
}

.coordonnées{
    color: white;
    list-style: none;
}